.btn {
    margin-top: 1rem;
    display: inline-block;
    border: $border;
    color: $black;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;

    &:hover {
        background: $black;
        color: $white;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
    color: $black;
}